@font-face {
	font-family: "Desyrel";
	src: url(../fonts/desyrel.ttf) format("truetype");
}
@font-face {
	font-family: "Aquilinetwo";
	src: url(../fonts/Aquilinetwo.ttf) format("truetype");
}
html{
	background-color: #1c1c1c;
}
body{
	margin: 0px;
}
#bg01 {
	height: 700px;
	background-image: url('../imgs/WK.jpg');
	background-attachment: fixed;
	background-size: cover;
}
#bg02 {
	height: 700px;
	background-image: url('../imgs/WK2.jpg');
	background-attachment: fixed;
	background-size: cover;
}
body {
	background-color: #fff;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	text-align: center;
	color: #aaaaaa;
}

h2.content-header {
	font-size: 42px;
	text-align: left;
}
h3 {
	font-family: Aquilinetwo;
}
.header {
	height: 200px;
	background-color: #1c1c1c;
}
.container {
}

.header-text {
	margin: 50px;
	font-size: 20px;
	color: #aaaaaa;
}
.text {
	margin: 100px;
	color: #b4b4b4;
	font-family: 'Roboto', sans-serif;
	line-height: 200%;
	font-size: 24px;
}
